<!DOCTYPE html>
<html>
<head>
  <title>Lujack</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class = "navbar navbar-inverse navbar-fixed-top ">
		<div class="navbar-inner">
			<div class="container">
		    		<ul class="nav">
		      			<li class="<%= 'active' if params[:controller] == 'welcome' %>"><a href="/">Home</a></li>
		      			<li class="<%= 'active' if params[:controller] == 'sessions' %>"><a href="/auth/twitter">Profile</a></li>
		      			<li class="<%= 'active' if params[:controller] == 'page' %>"><a href="/about">About</a></li>
			  	</ul>
			</div>
		</div>
</div> 

<%= yield %>

</body>
</html>
